body{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}
#header{
    text-align: center;
    height: 40px;
    line-height: 40px; /*mueve el top a down */
    background-color:#9FE6A0 ;
}
h2{
    vertical-align: middle;
    color: aliceblue;
    font-weight: bold;
}
.firstContainer{
    background-color: #4AA96C;
}
.row{
    line-height: 30px;
    margin: 10px 20px;
    color: aliceblue;
}
#results{
    margin: 30px 20px 10px 0px;
}
.person-row{
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    float: left;
    background-color: #F55C47;
}
.person-row img{
    float: left;
    margin-right: 20px;
}
.person-info{
    float: left;
    margin: 30px 20px;
    color: aliceblue;

}
.person-row >button{
    float: right;
    margin: 30px 20px;
}